<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='FISIOMEDICA - profilo')"></head>
	<body>

		<div th:replace="fragments/base.html :: navbar"></div>

		<div class="container">
			<div class=" d-flex row justify-content-center mt-5 mb-3">
				<h2 class="d-flex justify-content-center">FISIOTERAPISTA</h2>
			</div>
			<div class="d-flex row justify-content-center m-1">
				<div class="col-md-4 d-flex justify-content-center my-2">
					<div class="card shadow">
		      			<img src="/img/FisioterapistaArt.png" class="card-img-top container d-flex justify-content-center">
		      				<div class="card-body">
		        				<h5 class="card-title" th:text="|${fisioterapista.name} ${fisioterapista.surname}|">Nome</h5>	
			   						<div class="card-title" th:text="${fisioterapista.eta}">
			   						</div>	
		     				</div>
		    		</div>
		  		</div>
			</div>
		</div>
		
		<div class="container my-4 card shadow">
			<div class="row my-4 d-flex justify-content-start">
				<h4 class="justify-content-center d-flex ">FISIOTERAPIE EROGATE</h4>
			</div>
			<div class=" d-flex row justify-content-start">
				<div th:each="fisioterapia : ${fisioterapista.fisioterapie}" class="col-md-6 col-lg-4 d-flex justify-content-center">
					<div class="card  my-2 shadow">
						<img src="/img/fisioterapia.jpg" class="card-img-top" alt="...">
			  			<div class="card-body">
			   				 <h5 class="card-title" th:text="${fisioterapia.name}">Fisioterapia 1</h5>
			    			 <p style="height:80px; overflow:hidden" class="card-text" th:text="${fisioterapia.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    			 <div class="container">
			    			 	<div class="row d-flex justify-content-center px-3 my-1">
			    					<a sec:authorize="isAuthenticated()" href="FisioterapiaList.html" th:href = "@{'/fisioterapia/' + ${fisioterapia.id}}" class="my-2 shadow-sm btn btn-primary">
			    						Visualizza Dettagli
			    					</a>			    					
			    			 	</div>		    			 	
			    			 	<div class="row d-flex justify-content-center px-3 my-1">
			    					<a sec:authorize="hasAuthority('ADMIN')" href="FisioterapiaList.html" th:href = "@{'/fisioterapia/edit/' + ${fisioterapia.id}}" class="mb-2 shadow-s btn btn-outline-success">
			    						Modifica
			    					</a>			    					
			    			 	</div>	
			    			 	<div class="row d-flex justify-content-center px-3 my-1">
			    					<a sec:authorize="hasAuthority('ADMIN')" href="FisioterapiaList.html" th:href = "@{'/fisioterapia/delete/' + ${fisioterapia.id}}" class="mb-2 shadow-sm btn btn-outline-danger">
			    						Elimina
			    					</a>			    					
			    			 	</div>				    			 
			    			 </div>

			  			</div>
					</div> 			
				</div>				
			</div>	
			<div sec:authorize="hasAuthority('ADMIN')" class=" d-flex row-3 pb-3 mt-5 mb-3 justify-content-center"> 
				<a  th:href = "@{'/fisioterapia/add/'+ ${fisioterapista.id}}" href="FisioterapiaList.html"  class="btn btn-outline-primary">
					Aggiungi
				</a>	
			</div>	
		</div>

		<div th:replace="fragments/base.html :: footer"></div>

	</body>
</html>